@this(main: main, packageWarning: packageWarning)

@(qs: String, errorQs: String)

@main("Authorize with Salesforce") {

    @packageWarning()

    <div class="slds-card slds-card--empty" style="margin-top: 20px;">
        <header class="slds-card__header slds-grid grid--flex-spread slds-grid--align-center">
            <h3 class="slds-text-heading--small slds-truncate">Activate the Salesforce IFTTT Channel</h3>
        </header>
        <section class="slds-card__body">
            <a href="@routes.OAuth2.authorizeProd()?@qs" class="slds-button slds-button--brand">Log into Salesforce</a>
            <br/>
            <br/>
            <p>Do you want to use a sandbox instead of a production org?</p>
            <a href="@routes.OAuth2.authorizeSandbox()?@qs">Log into Sandbox</a>
        </section>
    </div>

    @* todo: provide Sandbox option *@
    <div class="slds-text-body--small" style="margin-top: 20px;">
        If you are encountering errors, <a href="@routes.OAuth2.authorizeProd()?@errorQs">check your error report</a> for details.
    </div>
}
