@main("Salesforce IFTTT Channel") {
    The <a href="https://ifttt.com/salesforce">Salesforce IFTTT Channel</a> connects Salesforce to the many different devices and services on <a href="http://ifttt.com">IFTTT</a> using simple recipies that are defined in the "If <b>this</b> then <b>that</b>" form.
    <br/>
    Install the Salesforce IFTTT Package on Salesforce:
    <ul>
        <li><a href="https://login.salesforce.com/packaging/installPackage.apexp?p0=04tE0000000V9yl">Production Salesforce Orgs</a></li>
        <li><a href="https://test.salesforce.com/packaging/installPackage.apexp?p0=04tE0000000V9yl">Sandbox Salesforce Orgs</a></li>
    </ul>
}
