@this(main: main)


@main("Salesforce IFTTT Channel") {

    <div class="slds-box slds-theme--shade slds-box--x-small">
        <p>The Salesforce IFTTT Channel connects Salesforce to the many different devices and services on <a href="http://ifttt.com">IFTTT</a> using simple recipies that are defined in the "If <b>this</b> then <b>that</b>" form.</p>
        <a href="https://ifttt.com/salesforce" class="slds-button slds-button--brand">Create Salesforce IFTTT Recipes</a>
    </div>

    <div class="slds-text-body--small" style="margin-top: 20px;">
        <a href="@routes.Application.help()">Need help?</a>
    </div>

}
