@this(webJarsUtil: org.webjars.play.WebJarsUtil)

@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        @webJarsUtil.locate("salesforce-lightning-design-system.css").css()
        <style>
            body {
                width: 100%;
            }

            img.screenshot {
                border: solid #444444 1px;
            }

            iframe {
                max-width: 100vw;
                max-height: 56.25vw;
            }
        </style>
        <!-- Google Analytics -->
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-62002560-3', 'auto');
            ga('send', 'pageview');
        </script>
        <script async src='//www.google-analytics.com/analytics.js'></script>
        <!-- End Google Analytics -->
    </head>
    <body>
        <div class="slds-container--center slds-container--small" style="text-align: center;">
            <img src="@routes.Assets.versioned("images/salesforce.svg")" style="height: 57px">
            <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-text-default" style="margin-bottom: 10px; margin-left: 20px;">
                @webJarsUtil.locate("icons/utility-sprite/svg/symbols.svg").path match {
                    case scala.util.Success(path) => {
                        <use xlink:href="@org.webjars.play.routes.WebJarAssets.at(path)#add"></use>
                    }
                    case _ => {

                    }
                }
            </svg>
            <img src="@routes.Assets.versioned("images/ifttt.svg")" style="height: 90px;">
        </div>
        <div class="slds-container--center slds-container--small" style="text-align: center;">
            @content
        </div>

    </body>
</html>
